details {
    font-family: sans-serif;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    box-shadow: 0 2px 5px rgb(0, 0, 0);

    flex: 1;
    min-width: 45%;
    max-width: 48%;

    display: flex;
    flex-direction: column;
}

details[open] {
    max-height: 1200px;
}

details:not([open]) {
    max-height: 42px;
}

summary {
    background-color: rgb(3, 54, 5);
    color: rgb(251, 250, 218);
    font-weight: bold;
    padding: 12px 20px;
    cursor: pointer;
    text-align: center;
}

details>summary {
    list-style: none;
}

details>summary::marker,
details>summary::-webkit-details-marker {
    display: none;
}

@media screen and (max-width: 800px) {
    details {
        min-width: 100%;
        max-width: 100%;
    }

}