@font-face {
    font-family: 'Boiling';
    src: url('../assets/Boiling.ttf') format('truetype');
}

.home {
    height: 100vh;
    max-width: 100vw;
    background-color: rgb(3, 54, 5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(251, 250, 218);
    font-family: 'Boiling';
    position: relative;
}

.home p {
    font-size: 4rem;
    margin: 0;
}

@media screen and (max-width: 500px) {
    .home p {
        font-size: 3rem;
    }
}

.underline {
    width: 30%;
    height: auto;
    position: relative;
    clip-path: polygon(0 0, 0 100%, 0% 100%, 0% 0);
    animation: revealFromLeft 1s forwards;
    transform: rotate(10deg);
}

@media screen and (max-width: 500px) {
    .underline {
        width: 60%;
    }
}

.down-arrow-container {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.down-arrow {
    width: 5%;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    animation: revealFromTop 1s forwards 1s;
}

@media screen and (max-width: 1000px) {
    .down-arrow {
        width: 8%;
    }
}

@media screen and (max-width: 500px) {
    .down-arrow {
        width: 10%;
    }
}

@keyframes revealFromLeft {
    0% {
        clip-path: polygon(0 0, 0 100%, 2% 100%, 2% 0);
    }

    100% {
        clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
    }
}

@keyframes revealFromTop {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}